@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">~Welcome to DogGo~</h1>
    <h2>DogGo is a Dog Walking Application :D</h2>

    <img src="https://www.cesarsway.com/wp-content/uploads/2015/06/6-tips-for-mastering-the-dog-walk.jpg" />
</div>
